h1 {
  color:blue
}
body{
  background-color: #eaf4ff;
  font-family: "Trebuchet MS", sans-serif;
}
.titulo{
  color: #2563eb
}
h2{
  color: #1e40af;
}
h3{
  color:#3b82f6;
}
p{
  color: #4b5563;
}
ul{
  color:#6b7280;
}
a{
  color:#16a34a;
}
